// Imports all of bootstrap's CSS 
@import "bootstrap/scss/bootstrap";

// @import "bootstrap/scss/functions";
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/maps";
// @import "bootstrap/scss/mixins";
// @import "bootstrap/scss/utilities";
// @import "bootstrap/scss/root";
// @import "bootstrap/scss/forms";
// @import "bootstrap/scss/reboot";
// @import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/utilities/api";

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

.inter {
    font-family: 'Inter';
}

@font-face {
    font-family: 'Baloo 2';
    src: url('../assets/fonts/Baloo_2/Baloo2-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

.baloo-2 {
    font-family: 'Baloo 2';
}

body {
    background: url('../assets/tile_upscale.webp');
    background-color: #E6B830;
    min-height: 100vh;
    font-family: 'Inter', cursive;
}

$wheres-my-orange: #D06C0D;
$wheres-my-green: #5A961F;
$wheres-my-blue: #13C5E2;

// Use text-shadow to create a white outline
@mixin white-outline-shadow {
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;  
}

@mixin white-outline-webkit {
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 1px;
}

@mixin glow($color, $blur, $type: 'box') {
    @if $type == 'box'{
        box-shadow: 0 0 $blur $color !important;
    }
    @else if $type == 'text' {
        text-shadow: 0 0 $blur $color !important;
    }
    @else if $type == 'image' {
        filter: drop-shadow(0 0 $blur $color);
    }
}

.white-glow {
    transition: 0.3s ease;
}   

.white-glow:hover {
    @include glow(white, 3px, 'image');
    @include glow(white, 3px, 'text');
}


.wheres-my-water
{
    div {
        @include white-outline-shadow();
        font-family: "Baloo 2";
        font-weight: 600;
        margin-bottom: 0;
        font-size: 36pt;
        line-height: 1;

        img {
            transition: 0.3s ease;
            max-height: 70px;     
        }
        img:hover {
            @include glow($wheres-my-blue, 10px, 'image');  
        }

        span {
            img {
                transition: 0.3s ease;
                max-height: 38px; 
                width: auto;
                vertical-align:-4px; 
            }
            img:hover {
                @include glow($wheres-my-blue, 0px, 'image');  
            }
        }
    }
    
    #wheres {
        color: $wheres-my-orange;
    }
    #my {
        color: $wheres-my-green;
    }
    #water {
        color: $wheres-my-blue
    }
}

$button-color: #0dbad8;
$button-color-hover: #017f93;
$success: $teal-400;
$success-dark: $teal-800;
$failure: $orange-300;
$failure-dark: $orange-600;



.success-text {
    color: $success;
}

.success-bg {
    background-color: $success;
}

.failure-text {
    color: $failure;
}


.failure-bg {
    background-color: $failure;
}

.main-container {
    max-width: 600px;
    width: 100%;
    background-color: #8D3C05;
    border-radius: 16px;
}


.link-light {
    color: white;
}

