// Imports all of bootstrap's CSS 
@import "bootstrap/scss/bootstrap";

// "Inter"
// @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
}

.inter {
    font-family: 'Inter';
}

@font-face {
    font-family: 'Baloo 2';
    src: url('../assets/fonts/Baloo_2/Baloo2-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
}

.baloo-2 {
    font-family: 'Baloo 2';
}

* {
    margin: 0 auto;
}

body {
    background: url('../assets/tile.png');
    max-height: 100vh;
    font-family: 'Inter', cursive;
}

$wheres-my-orange: #D06C0D;
$wheres-my-green: #5A961F;
$wheres-my-blue: #13C5E2;

// Use text-shadow to create a white outline
@mixin white-outline-shadow {
    text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;  
}

@mixin white-outline-webkit {
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-width: 1px;
}

.wheres-my-water
{
    div {
        @include white-outline-shadow();
        font-family: "Baloo 2";
        font-weight: 600;
        margin-bottom: 0;
        font-size: 36pt;
    }

    img {
        max-height: 70px;        
    }
    
    #wheres {
        color: $wheres-my-orange;
    }
    #my {
        color: $wheres-my-green;
    }
    #water {
        color: $wheres-my-blue
    }
}

$button-color: #00B3CD;
$button-color-hover: #018fa4;
$success: $teal-400;
$failure: $orange-300;

.success-text {
    color: $success;
}

.failure-text {
    color: $failure;
}

.main-container {
    max-width: 600px;
    width: 100%;
    background-color: #8D3C05;
    border-radius: 16px;
}

