.water-navbar {
  background: #8D3C05;
  border-bottom: 4px solid #7c2d12;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 100%;
}

@mixin glow($color, $blur, $type: 'box') {
    @if $type == 'box'{
        box-shadow: 0 0 $blur $color !important;
    }
    @else if $type == 'text' {
        text-shadow: 0 0 $blur $color !important;
    }
    @else if $type == 'image' {
        filter: drop-shadow(0 0 $blur $color);
    }
}

.alligator-image {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  transition: transform 0.3s;
  transition: ease 0.3s;
}

.nav-link {
    label {
        transition: 0.3s ease;
        cursor: pointer;
    }

    &:hover {
        @include glow(white, 10px, 'text');
        cursor: pointer;
    }
}

.alligator-image:hover {
  transform: scale(1.2);

  @include glow(green, 5px, 'image');
}