@import "global.scss";

.status-msg {
    text-align: left;
    width: 80%;
}

input.failure-send {
    border: 3px solid $failure !important;
}

input.failure-send:focus {
    @include glow($failure, 10px);
}

input:focus {
    outline-color: transparent;
    transition: 0.3s ease;
    @include glow(white, 10px);
}

.link:hover {
    
    @include glow(white, 3px, 'text');
}

.link {
    transition: 0.3s ease;
}