@import "global.scss";

.send-email-btn {
    background-color: $button-color !important;
    color: white !important;
    text-shadow: 1px 1px 3px #323232;
    width: "100%" !important;
    box-shadow: 1px 1px 3px #000 !important;
}

.send-email-btn:hover {
    background-color: $button-color-hover !important;
    color: #d0cfcf !important;
}

.status-msg {
    text-align: left;
    width: 80%;
}

input.failure-send {
    outline: 2px solid $failure !important;
}

input.failure-send:focus {
    box-shadow: 0 0 10px $failure !important;
}

input:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 10px #ffffff !important;
}