@import "global.scss";

.status-msg {
    text-align: left;
    width: 80%;
}

input.failure-send {
    outline: 2px solid $failure !important;
}

input.failure-send:focus {
    box-shadow: 0 0 10px $failure !important;
}

input:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 10px #ffffff !important;
}