.pirata-one {
    font-family: 'Pirata One', cursive;
    letter-spacing: 1px;
}

.typewriter-text {
    font-family: 'IM Fell DW Pica', serif;
}

/* Header */
.headerContainer.registerHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.6);
}

#upperRegisterHead {
    font-family: 'Trade Winds', cursive;
    font-size: 18pt;
    margin-bottom: 5px;
}

#lowerRegisterHead {
    font-family: 'Trade Winds', cursive;
    font-size: 64pt;
}

/* Input container */
.registerInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(82, 56, 41, 0.9);
    backdrop-filter: blur(7px);
    max-width: 40vw;
    min-width: 520px;
    width: 100%;
    padding: 30px;
    border-radius: 12px;
}

/* Title */
.registerInputTitle h2 {
    font-family: 'Pirata One', cursive;
    font-size: 20pt;
    color: #FEE600;
    text-align: center;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.4);
    margin-bottom: 40px;
}

/* Input block */
.registerInputBlock {
    width: 100%;
    max-width: 450px;
    margin-bottom: 30px;
}

.registerLabel {
    display: block;
    font-family: 'Pirata One', cursive;
    font-size: 14pt;
    font-weight: 500;
    margin-bottom: 4px;
}

.requiredSymbol {
    color: #fe7f35;
}

/* Input fields */
.inputField {
    width: 100%;
    height: 38px;
    padding: 5px 10px;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 14pt;
    font-weight: 700;
    border-radius: 8px;
    border: 1px solid #ffceb2;
    background-color: #ffceb2;
    color: #2b2c2b;
}

.inputField:focus {
    outline: 2px solid #FFF001FF;
}

/* Buttons */
.buttons {
    width: 100%;
    height: 40px;
    font-size: 16pt;
    font-family: 'Pirata One', cursive;
    border-radius: 8px;
    background-color: #36241a;
    color: #ffceb2;
    border: 1px solid #ffceb2;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

.buttons:hover {
    background-color: #7b2e04;
    color: #fdb287;
}

/* Error messages */
.errorContainer {
    width: 100%;
    color: #FF6900;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
}

/* Required notice */
.requiredNotice {
    text-align: center;
    color: #ff8640;
    font-weight: 500;
    font-size: 10.5pt;
    margin-bottom: 10px;
}

/* Login return link */
.registerInputBlock.loginReturn {
    text-align: center;
}

#loginReturn {
    text-decoration: underline;
    cursor: pointer;
    padding-left: 5px;
}

/* Responsive adjustments */
@media (max-width: 1080px) {
    .registerInputContainer {
        max-width: 90%;
        padding: 20px;
    }

    #lowerRegisterHead {
        font-size: 48pt;
    }

    #upperRegisterHead {
        font-size: 16pt;
    }
}
