name: Run Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs: 


  test-backend:
    name: Backend tests
    runs-on: ubuntu-latest
    env:
      CI: true

    steps:
      - name: Checkout code
        uses: actions/checkout@v3  

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with: 
          node-version: '22.18'
          cache: 'npm'
          cache-dependency-path: backend/package-lock.json  

      - name: Install backend dependencies
        working-directory: ./backend
        run: npm ci  

      - name: Run backend tests
        working-directory: ./backend
        run: npm test
